<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>
    <h1>Task:</h1>
    <p>Write a function 'addTwo' that takes two parameters ('x' and 'y') and returns the sum of the two numbers.<br>
    You should store the result in a variable 'result' and then print the result to the screen.<br>
    For this example, calculate the sum of 2 and 3.</p>
    <hr>
    <p>{{notif}}</p>
    <form action="{{url_for('index')}}" method="post">
        <textarea name="code" id="code" cols="50" rows="15">{{code}}</textarea>
        <input type="submit" value="Submit">
    </form>
    <p>{{output}}</p>
</body>
</html>